.button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: white;
  border: 2px solid #494949;
  color: #494949;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
  user-select: none;
  vertical-align: middle;
  width: auto;
  white-space: nowrap;

  &:hover {
    background-color: #494949;
    color: white;
  }
}
