.split-content {
  align-items: center;
  background-color: #f1f1f1;
  display: flex;
}

.split-content__half {
  width: 50%;
}

.split-content__text {
  padding-left: 10%;
  padding-right: 10%;
}

.split-content__headline {
  font-size: 28px;
  margin-bottom: 10px;
}

.split-content__copy {
  font-size: 16px;
  margin-top: 0;
}
