<section class="split-content">
  <div class="split-content__half">
    <div class="split-content__text">
      <h2 class="split-content__headline">Watch Frame</h2>
      <p class="split-content__copy">
        Lorem ipsum dolor amet literally occupy food truck lumbersexual lyft jianbing chartreuse. Franzen flannel hella activated charcoal chambray selfies you probably haven't heard of them austin. Palo santo 8-bit wolf poke tumblr plaid. Retro etsy mustache taiyaki ennui.
      </p>

      <button class="button">See More</button>
    </div>
  </div>

  <div class="split-content__half">
    <img class="split-content__image" src="{{ 'daniele-levis-pelusi-672107-unsplash.jpg' | file_img_url: '1000x1000', crop: 'center' }}" alt="" />
  </div>
</section>