.header {
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav__link {
  color: black;
  display: block;
  padding: 10px 20px;
  text-decoration: none;

  &:hover {
    color: blue;
  }
}