* {
  box-sizing: border-box;
}

html,
body,
main,
.shopify-section {
  height: 100%;
}

body {
  font-size: 14px;
  margin: 0;
}

.password-signup {
  background-size: cover;
  height: 100%;
  position: relative;
  width: 100%;
}

.password-signup__inner {
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid white;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.password-signup__headline {
  font-size: 2.5em;
  margin: 0;
  text-align: center;
}

.password-signup__message {
  text-align: center;
}

.password-signup__form {
  h4 {
    text-align: center;
  }

  label {
    display: block;
  }
}

.email__input {
  display: block;
  font-size: 1.2em;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

.button {
  cursor: pointer;
  height: 40px;
  width: 100%;
  -webkit-appearance: none;
}